<div *ngIf="product.prodName" class="card">
  <img *ngIf="product.imgPath" class="card-img-top" [src]="product.imgPath" alt="{{product.prodName}}">

    <div class="card-body">
      <h2 class="card-title">{{product.prodName}}</h2>
      <!-- <p class="card-text"> {{product.description}}</p> -->
      <p class="card-text"> {{product.price | currency:'INR'}}</p>

    </div>

    <div *ngIf="showActions && shoppingCart" class="card-footer d-grid">
      <button  
      *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity" 
      (click)="addToCart()"
      class="btn btn-secondary">
        Add To Cart
      </button>

      <ng-template #updateQuantity>
        <app-product-quantity [product]="product" [shopping-cart]="shoppingCart">
        </app-product-quantity>
        
      </ng-template>
    </div>
  
</div>