.card{
    background-color: rgba(220, 17, 17, 0.5);
    margin-bottom: 30px;
   
}
.card-footer{
    padding: 0;
    /* margin-left: 25%; */

}
.card-footer button{
    cursor: pointer;
}

.card-img-top{
    height: 300px;}
.card-body{
   height: 350;
}

.card-title{
    cursor: pointer;
}