<div class="sticky-top">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon routerLink="/home">home</mat-icon>
    </button>
    <span>Hello</span><span>{{auth.user$.displayName}}</span>
    <!-- <span class="gap"></span> -->
    <div class="example-button-row" >
  
      <button mat-button routerLink="/user/login" *ngIf="!(auth.user$ | async)">Login</button>
      <!-- *ngIf="!appUser" -->
      <!-- <ng-template *ngIf="appUser"> -->
      <button mat-button routerLink="/home" *ngIf="auth.user$ | async">Today's Deal</button>
   
      <button mat-button routerLink="/electronics" *ngIf="auth.user$ | async"> Electronics</button>
   
      <button mat-button *ngIf="auth.user$ | async">Toys</button>
   
      <button mat-button *ngIf="auth.user$ | async">Home & Kitchen</button>
    <!-- </ng-template> -->
  
    </div>
  
    <form class="example-form">
      <input type="text" placeholder="Search">
      <button mat-stroked-button>
        <mat-icon>search</mat-icon>
      </button>
    </form>
  
  
    <span class="example-spacer"></span>
  
    <button mat-stroked-button [matMenuTriggerFor]="menu" *ngIf="auth.user$ | async">
      <!-- *ngIf="appUser" -->
      <mat-icon>account_circle</mat-icon>Account
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_box</mat-icon>Profile
      </button>
      <button mat-menu-item routerLink="/my/orders">
        <mat-icon>add shopping cart</mat-icon>My Orders
      </button>
  
      <button mat-menu-item routerLink="/admin/orders" > 
        <!-- *ngIf="appUser.isAdmin" -->
        <mat-icon>admin_panel_settings</mat-icon>Manage Orders
      </button>
      <button mat-menu-item routerLink="/admin/products" >
        <!-- *ngIf="appUser.isAdmin" -->
        <mat-icon>admin_panel_settings</mat-icon>Manage Products
      </button>
      <button mat-menu-item (click)="logout()" routerLink="/user/login">
        <mat-icon>logout</mat-icon>Logout
      </button>
  
    </mat-menu>
    <span class="gap"></span>
    <button mat-stroked-button routerLink="/shoppingcart" *ngIf="auth.user$ | async">
      <!-- *ngIf="appUser" -->
      <mat-icon>shopping_cart</mat-icon>Checkout
    </button>
  
  </mat-toolbar>
</div>