<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span>Hello User</span>
    <!-- <span class="gap"></span> -->
    <div class="example-button-row">
        <button mat-button routerLink="/home">Today's Deal</button>
        <button mat-button routerLink="/electronics">  Electronics</button>
        <button mat-button>Toys</button>
        <button mat-button>Home & Kitchen</button>

    </div>
    
    <span class="example-spacer"></span>
        
    <button mat-stroked-button  [matMenuTriggerFor]="menu" ><mat-icon>account_circle</mat-icon>Account</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon>account_box</mat-icon>Profile</button>
        <button mat-menu-item><mat-icon>login</mat-icon>Login</button>
    </mat-menu>
    <span class="gap"></span>
    <button mat-stroked-button ><mat-icon>shopping_cart</mat-icon>Checkout</button>
          
 </mat-toolbar>
<div>
    
    
</div>
 