<h2>Products</h2>

<div *ngFor="let products of products">
    <h3>
        <a [title] = "products.name + 'details'" 
        [routerLink] = "['/products', products.id]">
            {{products.name}}
        </a>
        
    </h3>

    <p *ngIf="products.description">
        Description:{{products.description}}
    </p>
    
    <button id="alert" type="button" (click)="share()">
        Share
    </button>

    <app-product-alerts [product]="products" (notify)="onNotify()" > 

    </app-product-alerts>
</div>