.mat-form-field{
    width: 100%;
}
.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

  .example-radio-group {
    display: flex;
    /* flex-direction: column; */
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  