.btn{
   margin-left: 450px;
}

table {
   width: 100%;
 }
 
 .mat-form-field {
   font-size: 14px;
   width: 100%;
 }
 .thumbnail{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-size: cover;
}