
<div class="container p-5">
    <h1>
        Product Details
    </h1>
    <p>
      <a routerLink="/admin/products/new" class="btn btn-warning align">Add Product</a>
    </p>
    <p>
        <input 
        #query
        (keyup)="filter(query.value)"
        type="text" class="form-control" placeholder="filter by categories">
    </p>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Product Name</th>
                <th>Categories</th>
                <th>Price</th>
                <th>Action</th>
            
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of filteredProducts ">
                <th> {{p.id}}</th>
                <td><div [style.backgroundImage]="'url('+ p.imgPath + ')'" class="thumbnail"></div></td>
                <td>{{p.prodName}}</td>
                <td>{{p.category}}</td>
                <td>{{p.price}}</td>
                <td>
                    <a [routerLink]="['/admin/products/',p.id]"><mat-icon>settings</mat-icon></a>
                </td>
            </tr>
        </tbody>
    
    </table>
 
</div>
  
