<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervisor_account</mat-icon>
    </button>
    <span>Hello, Admin</span>
    <!-- <span class="gap"></span> -->
    
    <!-- <span>Manage Electronics</span> -->
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" (click)="openDialog()">Add Product</button>
    
  </mat-toolbar>

 <!-- <div class="container">
    <h1>
        Please Add or Update the Database
    </h1>
 </div> -->