<h1>
    Login
</h1>
<div mat-dialogue-content>
    <mat-form-field appearance="fill">

        <mat-label>Username</mat-label>
        <input matInput formControlName="username" placeholder="Username">

    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

    </mat-form-field>

</div>

<div mat-dialog-actions [align]="'center'">
    
    <button mat-raised-button color="primary" mat-dialog-submit>
        <!-- (click)="adminLogin()" routerLink="/admin" -->
        Login</button>
  
</div>